/* reset */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

div.row {
  border: none;
}

div.column {
  width: 100px;
  height: 100px;
  border: 1px solid lightgray;
}


/* game board layout*/
.game-board {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 100px 200px 50px repeat(3, 1fr) 100px;
  width: 60%;
  margin: 0 auto;
  background-color: rgb(228, 246, 252);
  border-radius: 20px;
}

.game-title {
  grid-column: 2 / span 1;
  text-align: center;
}

.tic {
  color: lightsalmon;
  background-color: lightsalmon;
}

.toe {
  color: lightgreen;
  background-color: lightgreen;
}

.fun-fact {
  grid-column: 2/ span 2;;
  grid-row: 2 / span 2;
  text-align: center;
  padding: 0 300px;
  color: gray;
}

.row.game-over {
  opacity: 20%;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-column: 2 / span 1;
  justify-content: center;
  justify-self: center;
  width: 300px;
}

.row:nth-of-type(1) {
  grid-row: 4 / span 1;
}

.row:nth-of-type(2) {
  grid-row: 5 / span 1;
}

.row:nth-of-type(3) {
  grid-row: 6 / span 1;
}

div.buttons, div.buttons > div {
  border: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  width: 100%;
  grid-column: 2 / span 1;
  grid-row: 7 / span 1;
  justify-content: center;
  align-content: center;
}

.buttons > div {
  display: grid;
  justify-content: center;
  align-content: center;
}

.new-game-btn, .training-btn {
  border: none;
  background-color: rgb(215, 220, 247);
  width: 120px;
  height: 50px;
  border-radius: 10px;
  font-size: 1.2rem;
  color: rgb(66, 64, 64);
}

.new-game-btn:hover {
  background-color:  rgb(195, 203, 248);
  font-weight: 600;
}

.training-btn {
  display: none;
  border: none;
  background-color: rgb(215, 220, 247);
  width: 120px;
  height: 50px;
  border-radius: 10px;
  font-size: 1.2rem;
  color: rgb(66, 64, 64);
  opacity: 40%;
}

/* game play element*/
div.row {
  transition: color 0.4s ease-in-out;
}

div.column {
  transition: all 0.2s ease-in-out;
}

.player-one {
  background-color: lightsalmon;
}

.player-two {
  background-color: lightgreen;
}


/* game over element */
.announcement-text {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  text-align: center;
  margin-top: 0;
  opacity: 100%;
}